{% extends 'base.html' %}

{% block content %}

<h1 style="width: 100%">
    {% block title %} Search
    {% endblock %} 
</h1>

    
<form action="/student/search" method="get" class="text-center">
    <label for="roll_no">Roll Number:</label>
    <input type="number" name="roll_no" id="roll_no" class="form-control" value="{{ request.args.get('roll_no', '') }}">

    <label for="firstname" >Firstname:</label>
    <input type="text" name="firstname" id="firstname" class="form-control" value="{{ request.args.get('firstname', '') }}">

    <label for="year">Year:</label>
    <input type="text" name="year" id="year" class="form-control" value="{{ request.args.get('year', '') }}">

    <label for="branch">Branch:</label>
    <input type="text" name="branch" id="branch" class="form-control" value="{{ request.args.get('branch', '') }}">

    <button type="submit" class="btn btn-primary">Search</button>
</form>


<div class="search-results-container">
    {% if not results %}
        <p>No results found.</p>
    {% else %}
        <div class="search-results">
            <h2>Results:</h2>
            <ol>
                {% for book in results %}
                    <li>
                        <div class="result-container">
                            <p>Name: <a href="{{ url_for('student', student_roll_no=book.roll_no) }}">{{ book.firstname }} {{ book.lastname }}</a></p>
                            <p>Roll no: {{ book.roll_no }}</p>
                            <p>Branch: {{ book.branch }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>




{% endblock %}
